
/* .adduser-wrapper{
    background: #e5e7eb;
} */
.main-dashboard-form{
    border: 0 solid #e5e7eb;
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    width: 100%;
    
}
.adduser-wrapper h3{
    margin: 7px;
    color: var(--primary-color) !important;    font-size: 30px;
}
/* bank details */
.action-btn1{
    @media screen and (max-width: 768px) {
        width: 100%;
       
        /* padding: 0px 10px; */
        
        
    }
}

.dark-mode-placeholder::placeholder {
    color: #ffffff !important;
  }