

.dashboard-cards-wrapper {
    margin-bottom: 20px;
    margin-left: 400px;

    border-radius: 8px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(34, 197, 94, 0.6));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(25% - 20px);

    padding: 2px;
}

.card-body {
    border-radius: 8px;
    background-color: white;
    padding: 12px;
    width: 100%;
    text-align: center;
}

.user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}