.proptrading-main{
    padding: 80px 30px;
    margin-top: 20px;    background: #e5e7eb;
    width: 100%;
    /* height: 100vh; */
    @media screen {
        background: #e5e7eb;
    height: 100vh;  
min-height: 1950px;  }

}